.flex-row {
  display: flex;
}
.flex-clmn {
  display: flex;
  flex-direction: column;
}
.login {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
}
.loginDiv {
  gap: 10px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
